html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header .spacer {
    height: 60px;
}

.sample {
    border: 1px solid #c0c0c0;
    padding: 30px;

    .figure-set {
        display: flex;
        align-items: center;

        .previous, .next {
            flex-shrink: 0;
            padding: 10px;
        }

        figure {
            max-width: 1000px;
            margin: 0;
            transition: max-width .3s;
            overflow: hidden;

            &.collapse {
                max-width: 0px;
                visibility: none;
            }
        }
    }
}

.fa-html5 {
    color: #E44D26;
}

.fa-css3 {
    color: #1572B6;
}

.fa-javascript {
    color: #F0DB4F;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
    font-style: normal;
}

.share-icons {
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;

    i {
        font-size: 36px;
        padding-right: 15px;
    }

    a {
        display: flex;
        align-items: center;
        max-width: 36px;
        transition: 0.3s ease-in-out;
        padding: 5px 15px;

        span {
            width: 0;
            overflow: hidden;
            font-size: 22px;
        }

        &:hover {
            max-width: 400px;
            color: white;
            background-color: #008dba;
            border-radius: 5px;

            span {
                width: auto;
            }
        }
    }
}
