html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  border: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #337341;
}

a {
  color: #4caf50;
}

a:hover {
  color: #2E7D32;
}

.body-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  & > * {
    -webkit-overflow-scrolling: touch;
  }
}

header .spacer {
  height: 60px;
}

header {
  border: none;
  font-family: 'Source Code Pro', ;
}

header .container {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.sample {
  border: 1px solid #c0c0c0;
  padding: 30px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

  h4, h5 {
    font-family: 'Source Code Pro', ;
  }
  flex: 1 1 auto;

  &.sample-small {
    padding: 15px;
    flex: 1 1 ~"calc(50% - 30px)";

    @media (max-width: 320px) {
      & {
        flex: 1 1 auto;
      }
    }
  }

  @media (max-width: 750px) {
    & {
      padding: 10px;
    }

    & > figure {
      margin: 1em 10px
    }
  }

  .figure-set {
    display: flex;
    align-items: center;

    .previous, .next {
      flex-shrink: 0;
      padding: 10px;
    }

    figure {
      max-width: 1000px;
      max-height: 1000px;
      margin: 0;
      transition: max-width .3s;
      overflow: hidden;

      &.collapse {
        max-width: 0px;
        max-height: 0px;
        visibility: none;
      }
    }
  }
}

.grid-flex-container .grid-flex-cell {
  margin: 15px;

  @media (max-width: 750px) {
    margin: 5px 0;
  }
}

.fa-html5 {
  color: #E44D26;
}

.fa-css3 {
  color: #1572B6;
}

.fa-javascript {
  color: #F0DB4F;
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  font-style: normal;
}

.fa-webrtc {
  background-image: url("webrtc.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;

  &:before {
    content: '\A0';
  }
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 250px;
  zoom: 0.5;
  min-width: 150px;
}

.share-icons {
  font-size: larger;
  display: flex;
  justify-content: space-around;
  border-top: solid 1px #e0e0e0;
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 0;

  @media (max-width: 750px) {
    a span {
      display: none;
    }
  }
}
