html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .spacer {
  height: 60px;
}
.sample {
  border: 1px solid #c0c0c0;
  padding: 30px;
}
.share-icons {
  position: fixed;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}
.share-icons i {
  font-size: 36px;
  padding-right: 15px;
}
.share-icons a {
  display: flex;
  align-items: center;
  max-width: 36px;
  transition: 0.3s ease-in-out;
  padding: 5px 15px;
}
.share-icons a span {
  width: 0;
  overflow: hidden;
  font-size: 22px;
}
.share-icons a:hover {
  max-width: 400px;
  color: white;
  background-color: #008dba;
  border-radius: 5px;
}
.share-icons a:hover span {
  width: auto;
}
